body {
  position: relative;
}

/*****************************************************************************/
/* Jumbotron */
/*****************************************************************************/
.jumbotron {
  position: relative;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  border-bottom: 1px solid #dddddd;
  background: #000037; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #000037 0%, #009999 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#000037), color-stop(100%,#009999)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #000037 0%,#009999 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #000037 0%,#009999 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #000037 0%,#009999 100%); /* IE10+ */
  background: linear-gradient(45deg,  #000037 0%,#009999 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000037', endColorstr='#009999',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

/* Navbar */
.jumbotron .navbar {
  margin-bottom: 0;
}

.jumbotron .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.jumbotron .navbar .btn {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.jumbotron .navbar .nav .nav-first>a {
  padding-left: 0;
}

.jumbotron .navbar .nav>li>a {
  color: #aaaaaa;
  text-shadow: none;
}

.jumbotron .navbar .nav>li>a:hover {
  color: #ffffff;  
  background: none;
}

.jumbotron .navbar .nav>.active>a {
  color: #ffffff;
  background: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.jumbotron .navbar .navbar-search {
  color: #000000;
  border: 0;
    -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

/* Title */
.jumbotron .jumbotron-text-container {
  padding: 20px 0;
}

.jumbotron h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.jumbotron p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 20px;
}

/* Pattern overlay */
.jumbotron .jumbotron-container {
  position: relative; 
  z-index: 2;
}

.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/jumbotron-pattern.png) repeat center center;
  opacity: .1;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {
  .jumbotron:after {
    background-size: 150px 150px;
  }
}

/*****************************************************************************/
/* Content */
/*****************************************************************************/
.content p  {
  text-align: justify;
}

.link-icon:hover {
  text-decoration: none;
}

.about .profile-picture {
  margin-right: 15px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
}

.about .connect {
  margin-bottom: 5px;
}

.about .connect-icons a {
  margin-left: 10px;
}

.about .connect-icons i {
  vertical-align: -15%;
}

.content {
  margin-left: 0 !important;
  padding-right: 20px;
  padding-bottom: 10px;
  border-right: 1px solid #dddddd;
}

.content a {
  color: #000000;
}

.content .post-title {
  margin-bottom: 0;
}

.content .post-type {
  margin-top: 15px;
}

.content .post-type i {
  margin-left: 5px;
}

.content .post-date {
  margin-bottom: 5px;
}

.content .post-info a {
  margin-left: 10px;
}

hr {
  margin-top: 0;
  border-top: 1px solid #dddddd;
}

/*****************************************************************************/
/* Responsive */
/*****************************************************************************/

/* Desktop */
@media (min-width: 1200px) {
  .content {
    width: 75.25% !important;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .about .connect-icons {
    display: block;
    margin-left: 35px;
  }
}

/* Desktop to tablet */
@media (min-width: 768px) and (max-width: 979px) {
  .about .profile-picture {
    float: none;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .about .connect-icons {
    display: block;
    margin-left: 25px;
  }
}
/* Landscape phones and down */
@media (max-width: 767px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }

  /* Downsize and center the jumbotron */
  .jumbotron {
    margin-right: -20px;
    margin-left:  -20px;
  }
  
  .jumbotron .navbar .nav .nav-first>a {
    padding-left: 15px;
  }
  
  .jumbotron .jumbotron-text-container {
    padding: 10px 0;
  }
  
  .jumbotron h1 {
    font-size: 45px;
    text-align: center;
  }
  
  .jumbotron p {
    font-size: 18px;
    text-align: center;
  }
  
  /* About is now above */
  .about {
    padding-left: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
  }
  
  .content {
    padding-right: 0;
    border-right: 0;
    padding-left: 5px;
    border-left: 1px solid #dddddd;
  }
  
  .content .post-type {
    margin-top: 5px;
  }
}

/* Really small phones and down */
@media (max-width: 279px) {
  .about .profile-picture {
    float: none;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .about .connect-icons {
    display: block;
    margin-left: 25px;
  }
}
