@import '~react-md/src/scss/react-md';

$md-font-icon-size: 24px;
$md-primary-color: $md-blue-grey-500;
$md-secondary-color: $md-red-a-700;

@include react-md-everything;

.md-btn--floating {
    height: 56px;
    width: 56px;
    padding: 16px;
}

.md-icon.fa  {
    font-size: $md-font-icon-size;
    height: $md-font-icon-size;
    width: $md-font-icon-size;
}

html {
    background: rgb(238, 238, 238);
}

body {
    margin: 0;
}

.md-toolbar--prominent {
    height: 76px;

    @media #{$md-tablet-media} {
        height: 128px;
    }
}

.md-title--toolbar  {
    line-height: 64px;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 8px;

    @media #{$md-tablet-media} {
        margin-top: 40px;
    }
}

.app-card {
    max-width: 400px;
    margin-top: 25px;

    @media #{$md-tablet-media} {
        margin-top: 50px;
    }
}

.app-card-actions {
    margin-top: 5px;
    margin-bottom: 5px;
}

.app-card-button {
    margin-left: 5px;
}